*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    
}
section{
    max-width: 1400px;
    min-height: 50vh;
    border: 1px solid red;
    margin: 0 auto;

}
#hed{
    background: url(imgs/back.jpg);
    background-position: center;
    background-size: cover;
    min-height: 100vh;
}
.topnav{
    height: 7vh;
    background-color: rgb(0, 0, 0);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(230, 230, 230);
    
        font-family: "Kay Pho Du", serif;
        font-weight: 400;
        font-style: normal;
      
      
    }
.midnav{
    height: 10vh;
    background-color: rgb(255, 255, 255);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 0 20px;
}
#hed h3{
        font-family: "Kay Pho Du", serif;
        font-weight: 700;
        font-style: normal;
        text-transform: uppercase;
}
.midnav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.midnav ul li {
    list-style: none;
    margin: 0px 20px;
    font-family: "Kay Pho Du", serif;
    font-weight: 400;
    font-style: normal;
}
ul li a {
    color: rgb(78, 76, 76);
    text-transform: capitalize;
}
.downnav{
    height:auto;
    background-color: rgb(0, 0, 0);
    width: 100%;
    color: rgb(255, 255, 255);
    padding: 20px;
}
.downnav p{
    margin: 20px;
}
.downnav button{
    padding: 10px 20px;
    width: 170px;
    background: transparent;
    border: 2px solid white;
    color: white;
    text-transform: uppercase;
}
.downnav h1{
    text-transform: capitalize;
    font-size: 40px;
}
.downnav button:hover{
 background-color: wheat;
 color: black;
 border: 2px solid white;
transition: 1s;
}
/*  content styling*/

.content{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;


}
.left{
    
    
    display: flex;
    justify-content: flex-end;
    align-items:flex-start;
    flex-direction: column;
    color: rgb(255, 255, 255);
}
.left h1{
 font-size: 40px;
 text-transform:capitalize;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .left h2{
        font-family: "Barlow Condensed", system-ui;
        font-weight: 400;
        font-style: normal;
       font-size: 50px;
       text-transform:capitalize;
       margin: 0;

  }
  .left h4{
    letter-spacing: 2px;
 text-transform:capitalize;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
.left p{
  
        font-family: "Barlow Condensed", system-ui;
        font-weight: 600;
        font-style: normal;
        margin: 10px 0;
        width: 30vw;
      }
      .left  button{
        padding: 10px 20px;
        width: 200px;
        
        border: 2px solid white;
        background-color: black;
        color: white;
        text-transform: uppercase;
    }


/* hed content styling*/
/* ad1 styling starts here */
#ad1{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pic{
  
    background-position: center;
    background-size: cover;
    width: 30%;
    height: 70vh;
    margin: 10px;
    text-align: center;
    padding: 40px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    
}
.pic h3{
        font-family: "Protest Strike", sans-serif;
        font-weight: 400;
        font-style: normal;
      letter-spacing: 2px;
      text-transform: uppercase;
      font-size: 30px;
}
.pic p {
    font-family: "Noto Serif Old Uyghur", serif;
    font-weight: 400;
    font-style: normal;
  }
  
.pic1{
    background:linear-gradient(rgba(0, 0, 0, 0.61),rgba(0, 0, 0, 0.61)), url(imgs/Decent\ Black\ Loafer\ Handmade\ Leather\ Shoes.jpg);
}
.pic2{
    background-image: url(imgs/Penny\ Lane\ Loafer\ Black\ High\ Shine\ -\ SHOE\ US\ 9\ _\ Black.jpg);
    
}
.pic3{
    background-image: url(imgs/Zapatillas\ De\ Cuero\ Para\ Hombre\ Zapatos\ Altos\ Deportivos\ Cómodos\ De\ Moda\ Hip\ Hop.jpg);
    
}
.pic button{
    padding: 10px 20px;
    width: 170px;
    background:black;
    border: 2px solid white;
    color: white;
    text-transform: uppercase;
    float: right;
}


/* ad1 styling ends here  */

/* ad2 styling starts here  */
#ad2{
    height: 70vh;
    background-image: url(imgs/add.webp);
}



/* ad2 styling ends here  */
/* ceo styling starts here  */
#ceo{
    background-color: wheat;
    display: flex;
    justify-content:center;
    align-items: center;
}
#ceo img{
    width: 400px;
    margin: 20px;
}
#ceo .more{
    width: 30vw;
}
#ceo .more h2{
    text-transform: capitalize;
    text-decoration: underline;
    margin: 20px;
    font-family: "Merriweather", serif;
  font-weight: 900;
  font-style: normal
}
#ceo .more p{

    color: rgb(31, 60, 61);
    font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal
}
#ceo .socials{
    margin: 20px;
}
#ceo .socials i{
    margin: 20px;
    font-size: 30px;
}
#ceo .socials a{
    color: rgb(73, 70, 70);
}


/* ceo styling ends here  */
/* logo styling starts here  */
#logo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
#logo .brands{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}
.brands img {
    width: 150px ;
    margin: 10px;
}


#logo h2{
    text-transform: capitalize;
    text-decoration: underline;
    margin: 20px;
    font-family: "Merriweather", serif;
  font-weight: 900;
  font-style: normal
}

/* logo styling ends here  */

 /* footer section styling starts here */
 #footer{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
 }
 .footer{
    background-color: rgb(43, 43, 44);
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
 }
 #footer h2{
    color: whitesmoke;
    text-transform: capitalize;
    margin: 20px 0;
 }
.cell{
    
    height: 200px;
    width: 500px;
}
.cell a{
display: block;
color: white;
font-family: "Abril Fatface", serif;
        font-weight: 400;
        font-style: normal;
}
.cell p{
width: 300px;
margin: 20px 0;
}
.cell input{
    padding: 10px 20px;
    border: none;
    outline: none;
}
    /* footer section styling ends here */
/* responsive styling starts here */
#close, #menu{
    display: none;
}

    @media screen and (max-width:1001px){
        /*  content styling*/


.left{
    margin: 20px 0;
    display: flex;
    justify-content: flex-end;
    align-items:flex-start;
    flex-direction: column;
    color: rgb(255, 255, 255);
}
.left h1{
 font-size: 30px;
 text-transform:capitalize;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .left h2{
        font-family: "Barlow Condensed", system-ui;
        font-weight: 400;
        font-style: normal;
       font-size: 40px;
       text-transform:capitalize;
       margin: 0;

  }
  .left h4{
    letter-spacing: 2px;
 text-transform:capitalize;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
.left p{
  
        font-family: "Barlow Condensed", system-ui;
        font-weight: 600;
        font-style: normal;
        margin: 10px 0;
        width: 70vw;
      }
  

/* hed content styling*/
          /* footer section styling starts here */
     #footer{
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
     }
     .footer{
        background-color: rgb(36, 42, 61);
        width: 95vw;
        height: 90vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        color: white;
     }
     #footer h2{
        color: whitesmoke;
        text-transform: capitalize;
        margin: 20px 0;
     }
    .cell{
        margin-left: 20px;
        height: 200px;
        width:90%;
    }
    .cell a{
    display: block;
    color: white;
    font-family: "Abril Fatface", serif;
            font-weight: 400;
            font-style: normal;
    }
    .cell p{
    width: 300px;
    margin: 20px 0;
    }
    
        /* footer section styling ends here */
        
/* ceo styling starts here  */
#ceo{
    background-color: wheat;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}
#ceo img{
    width: 80vw;
    margin: 20px;
}
#ceo .more{
    width: 90vw;
}
#ceo .more h2{
    text-transform: capitalize;
    text-decoration: underline;
    margin: 20px;
    font-family: "Merriweather", serif;
  font-weight: 900;
  font-style: normal
}
#ceo .more p{

    color: rgb(31, 60, 61);
    font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal
}
#ceo .socials{
    margin: 20px;
}
#ceo .socials i{
    margin: 20px;
    font-size: 20px;
}
#ceo .socials a{
    color: rgb(73, 70, 70);
}


/* ceo styling ends here  */
      
    }
    @media screen and (max-width:487px){
        #close, #menu{
            display: block;
        }
        .list{
       display: flex;
       justify-content: center;
       align-items: center;
       flex-direction: column; 
       position: absolute;
       background-color: white;
       height: 70vh;
       width: 50vw;
       top: 10vh;
       left: -2000px;
       padding: 20px;
       transition: 1s;
    }
    
    .active{
        left: 0;  
    }
    .downnav{
        height: auto;
        background-color: rgb(0, 0, 0);
        width: 100%;
        color: rgb(255, 255, 255);
        padding: 20px;
    }
    #hed{
        background: url(imgs/back.jpg);
        background-position: center;
        background-size: cover;
        height: 110vh;
    }
    .hedcontent{
        background-color: rgba(0, 0, 0, 0.336); 
        height:50vh; 
        display: flex;
        justify-content:space-between;
        align-items: flex-end;
        flex-direction: column; 
        padding: 30px;
        color: white;
       
       }
       .hedtop h1{
        font-size: 40px;
        text-transform: capitalize;
        font-family: "Kay Pho Du", serif;
        font-weight: 700;
        font-style: normal;
    }
    .hedtop p{
        font-size: 20px;
    }
    .hedcontent button{
        padding: 10px 20px;
        width: 170px;
        background: black;
        border: 2px solid white;
        color: white;
        text-transform: uppercase;
        float: right;
        margin:  10px 0px;
    }
    .hedbtm {
     width: 80vw;
     color: white;
    }
    /* ad1 styling starts here */
#ad1{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.pic{
  
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 70vh;
    margin: 10px;
    text-align: center;
    padding: 40px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    
}
.pic h3{
        font-family: "Protest Strike", sans-serif;
        font-weight: 400;
        font-style: normal;
      letter-spacing: 2px;
      text-transform: uppercase;
      font-size: 30px;
}
.pic p {
    font-family: "Noto Serif Old Uyghur", serif;
    font-weight: 400;
    font-style: normal;
  }
  
.pic1{
    background:linear-gradient(rgba(0, 0, 0, 0.61),rgba(0, 0, 0, 0.61)), url(imgs/Decent\ Black\ Loafer\ Handmade\ Leather\ Shoes.jpg);
}
.pic2{
    background-image: url(imgs/Penny\ Lane\ Loafer\ Black\ High\ Shine\ -\ SHOE\ US\ 9\ _\ Black.jpg);
    
}
.pic3{
    background-image: url(imgs/Zapatillas\ De\ Cuero\ Para\ Hombre\ Zapatos\ Altos\ Deportivos\ Cómodos\ De\ Moda\ Hip\ Hop.jpg);
    
}
.pic button{
    padding: 10px 20px;
    width: 170px;
    background:black;
    border: 2px solid white;
    color: white;
    text-transform: uppercase;
    float: right;
}


/* ad1 styling ends here  */


    }
 /* responsive styling starts here */